@font-face {
    font-family: 'NEXON Lv1 Gothic OTF Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

p, ul, h2, h3, h4 {
    font-family: 'NEXON Lv1 Gothic OTF Light', sans-serif;
}

a {
    color: black;
}

h4 {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    margin: 0;
    list-style-type: none;
}

header {
    background-color: black;
    padding-top: 1vw;
    padding-left: 3vw;
}

article {
    margin-top: 2vw;
}

.head {
    color: white;
    margin-bottom: -1vw;
}