@font-face {
    font-family: 'NEXON Lv1 Gothic OTF Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

p {
    font-family: 'NEXON Lv1 Gothic OTF Light', sans-serif;
    color: white;
    margin: 0;
}
h1 {
    font-family: 'NEXON Lv1 Gothic OTF Light', sans-serif;
    position: fixed;
    margin: 0 0;
    top: 1.5vh;
    left: 6vh;
    color: white;
    font-size: 4vh;
}
a {
    font-family: 'NEXON Lv1 Gothic OTF Light', sans-serif;
    text-decoration: none;
    color: white;
}
header {
    margin: 1.5vh 0 1.5vh 1.5vh;
    height: 5vh;
}

li {
    list-style: none;
    margin-bottom: 4px;
    font-size: 2em;
}
article {
    font-family: 'NEXON Lv1 Gothic OTF Light', sans-serif;
    color: white;
    overflow: auto;
    max-height: 83vh;
    scrollbar-width: thin;
    scrollbar-color: azure rgba(0, 0, 0, 0.3);
}
article::-webkit-scrollbar {
    width: 8px;
}
article::-webkit-scrollbar-thumb {
    background-color: azure;
    border-radius: 20px;
}
footer {
    position: fixed;
    margin-top: 0.5vh;
    padding: 1vh;
    bottom: 0.5vh;
    left: 0.5vh;
    right: 0.5vh;
    font-size: 1.5vh;
}

.background-image {
    background-color: black;
    background-image: url("./assets/One.jpg");
    background-size: cover;
    display: block;
    filter: blur(20px);
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.gradation {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.3);
    padding: 0.5em 0.5em;
    box-sizing: border-box;
    z-index: 0;
}

.imgBtn {
    height: 4vh;
}

.liTwo {
    list-style: none;
    padding-left: 20px;
}