@font-face {
    font-family: 'NEXON Lv1 Gothic OTF Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

p {
    font-family: 'NEXON Lv1 Gothic OTF Light', sans-serif;
    color: white;
}
a {
    font-family: 'NEXON Lv1 Gothic OTF Light', sans-serif;
    text-decoration: none;
    color: white;
}
header {
    height: 28vh;
}
footer {
    font-family: 'NEXON Lv1 Gothic OTF Light', sans-serif;
    color: white;
}
article {
    text-align: center;
    height: 60vh;
}
.background-image {
    background-color: black;
    background-image: url("./assets/One.jpg");
    background-size: cover;
    display: block;
    filter: grayscale(80%);
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}
.pbmenu {
    font-family: 'NEXON Lv1 Gothic OTF Light', sans-serif;
    text-align: center;
    margin-right: 10px;
    display: inline;
    font-size: 110%;
    color: white;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.3);
    padding-left: 1%;
    padding-right: 1%;
    z-index: 0;
}
.gradation {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.3);
    padding-left: 1%;
    padding-right: 1%;
    z-index: 0;
}
.pbtitle {
    font-family: 'Comfortaa', sans-serif;
    text-align: center;
    text-decoration: none;
    font-size: 720%;
    color: white;
}
.pbMiddleTitle {
    font-family: 'NEXON Lv1 Gothic OTF Light', sans-serif;
    text-align: right;
    text-decoration: none;
    color: white;
    font-size: 150%;
}
@media screen and (max-width:530px) {
    .pbtitle {
        font-family: 'Comfortaa', sans-serif;
        text-align: center;
        text-decoration: none;
        font-size: 500%;
        color: white;
    }
    article {
        height: 53vh;
    }

}
@media screen and (max-width:365px) {
    .pbtitle {
        font-family: 'Comfortaa', sans-serif;
        text-align: center;
        text-decoration: none;
        font-size: 300%;
        color: white;
    }
    .pbMiddleTitle {
        font-family: 'NEXON Lv1 Gothic OTF Light', sans-serif;
        text-align: right;
        text-decoration: none;
        color: white;
        font-size: 120%;
    }
    article {
        height: 53vh;
    }
}
@media screen and (max-height:400px) {
    article {
        height: auto;
    }
}

.pbheader {
    float: right;
    margin-top: 0px;
}
.icons {
    color: white;
}
.sitemap {
    font-family: 'NEXON Lv1 Gothic OTF Light', sans-serif;
    color: white;
    text-decoration: none;
}
